# -*- mode: gitignore; -*-

# emacs files to ignore
*~
\#*\#
.\#*
*_flymake.*
.projectile

# python files to ignore
__pycache__/
*.py[cod]
*$py.class
*.egg
*.egg-info/
.eggs/
.tox/
.coverage*
cover/
build/
dist/